.project-card {
    padding: 25px;
    color: #111;
    font-size: 13pt;
    letter-spacing: 0.4px;
}

@media (max-width: 950px) {
    .project-card {
        width: 85vw;
    }
}

h2 {
    font-weight: 200;
    font-size: 25pt;
    margin-bottom: 10px;
    margin-left: -2px;
}

.link-tray {
    margin-top: 10px;
}

.link-tray a:nth-child(2) {
    margin-left: 50px;
}

.action-link-text:before {
    content: "Check it out in action";
}

@media (max-width: 600px) {
    .action-link-text:before {
        content: "In action";
    }
}
