html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: interface, sans-serif;
  font-style: normal;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #00b600;
}

a:visited {
  color: #00b600;
}
